{% extends 'base_login.html.twig' %}

{% block title %}Aperçu des Informations du Candidat{% endblock %}

{% block body %}
	<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
		<div class="relative py-3 sm:max-w-5xl sm:mx-auto">
			<div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
				<div class="max-w-5xl mx-auto">
					{# <h1 class="text-2xl font-semibold text-center text-gray-900 mb-6">Aperçu des Informations du Candidat</h1> #}
					
					<div class="flex justify-between items-center mb-10">
						<img src="{{ asset('images/cameroon.png') }}" alt="Cameroon Flag" class="h-14">
						<img src="{{ asset('images/uiecc_logo.png') }}" alt="UIECC Logo" class="h-28">
						<img src="{{ asset('images/congo.png') }}" alt="Congo Flag" class="h-14">
					</div>
					
					<div class="border-4 border-main-green rounded-2xl py-4 px-8">
						<div class="text-center mb-10">
							<h2 class="text-sm font-bold">UNIVERSITE INTER-ETATS CAMEROUN-CONGO</h2>
							<h3 class="text-2xl font-semibold">RECIPISSE DE DEPOT DE DOSSIER</h3>
						</div>

						<div class="mt-4 flex justify-between">
							<div class="flex-1">
								<div class="flex flex-col">
									<span class="font-light italic text-sm border-b w-2/3 border-gray-900">No Dossier:</span>
									<span class="text-red-600 font-semibold">***************</span>
								</div>
								<div class="flex flex-col mt-2">
									<span class="font-light italic text-sm border-b w-2/3 border-gray-900">Filiere choisie:</span>
									<span class="font-semibold">{{ candidate.field }}</span>
								</div>
								<div class="flex flex-col mt-2">
									<span class="font-light italic text-sm border-b w-2/3 border-gray-900">Session du concours:</span>
									<span class="font-semibold">2024</span>
								</div>
							</div>
							<div class="w-40 h-40 border bg-gray-300 flex justify-center items-center">
								<span>
									{% if candidate.photo %}
										<img src="{{ asset('uploads/photos/' ~ candidate.photo) }}" alt="Photo du candidat" class="h-40 w-40 object-cover">
									{% else %}
										<div class="rounded-full h-32 w-32 bg-gray-300 flex items-center justify-center text-gray-500">
											<span class="text-4xl">?</span>
										</div>
									{% endif %}
								</span>
							</div>
						</div>

						<div class="h-full" id="Informations_concours">
							<div class="mt-10 bg-main-green text-white p-4 rounded-t-lg">
								<h4 class="font-semibold text-center">INFORMATIONS SUR LE CONCOURS</h4>
							</div>
							<div class="px-6 py-10 border border-main-green h-full space-y-10">
								<div class="flex justify-between space-x-10">
									<div class="flex-1 space-y-6 break-words">
										<div class="flex flex-col">
											<span class="font-light italic text-xs border-b border-gray-900">Nom et Prenoms:</span>
											<span class="font-semibold">{{ candidate.name }}</span>
										</div>
										<div class="flex flex-col">
											<span class="font-light italic text-xs border-b border-gray-900">Date de naissance:</span>
											<span class="font-semibold">{{ candidate.dateOfBirth|date('d/m/Y') }}</span>
										</div>
										<div class="flex flex-col">
											<span class="font-light italic text-xs border-b border-gray-900">Nationalité:</span>
											<span class="font-semibold">{{ candidate.nationality }}</span>
										</div>
										<div class="flex flex-col">
											<span class="font-light italic text-xs border-b border-gray-900">Centre d'Examen (Lieu de depot du dossier):</span>
											<span class="font-semibold">{{ candidate.examinationCenter }}</span>
										</div>
										<div class="flex flex-col">
											<span class="font-light italic text-xs border-b border-gray-900">Langue de Composition:</span>
											<span class="font-semibold">{{ candidate.language }}</span>
										</div>
									</div>
									<div class="flex-1 space-y-6 break-words">
										<div class="flex flex-col">
											<span class="font-light italic text-xs border-b border-gray-900">Sexe:</span>
											<span class="font-semibold">{{ candidate.sexe }}</span>
										</div>
										<div class="flex flex-col">
											<span class="font-light italic text-xs border-b border-gray-900">Lieu de naissance:</span>
											<span class="font-semibold">{{ candidate.placeOfBirth }}</span>
										</div>
										<div class="flex flex-col">
											<span class="font-light italic text-xs border-b border-gray-900">Diplome presente | Serie:</span>
											<span class="font-semibold">{{ candidate.certificate }}</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="mt-12 flex flex-col items-end justify-end">
							<div class="flex flex-col justify-end text-center items-center">
								<span class="font-semibold text-xs">SIGNATURE DU RECEPTEUR</span>
								<div class="w-56 h-28 border mt-2"></div>
							</div>
							<div class="text-right font-medium text-xs mt-12 italic">
								<span>Imprimee le {{ "now"|date("d F Y, h:i a") }}</span>
							</div>
						</div>
					</div>

					<div class="mt-8">
						<a href="{{ path('app_candidate_generate_pdf', {'id': candidate.id}) }}" class="w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
							Télécharger la fiche d'inscription
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
